.flex-container {
  flex: 1;
  position: fixed;

  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.book-card {
  max-width: 400px;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}
