<div class="flex-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <span>Book Store</span>

      <button mat-button [matMenuTriggerFor]="numberMenu">
        <mat-icon>dialpad</mat-icon>
        <span>Number</span>
      </button>
      <mat-menu #numberMenu="matMenu" yPosition="above">
        <button mat-menu-item [routerLink]="['/number-generate']">Generate</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="bookMenu">
        <mat-icon>book</mat-icon>
        <span>Book</span>
      </button>
      <mat-menu #bookMenu="matMenu" yPosition="above">
        <button mat-menu-item [routerLink]="['/book-list']">List</button>
        <button mat-menu-item [routerLink]="['/book-random']">Random</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="inventoryMenu">
        <mat-icon>house</mat-icon>
        <span>Inventory</span>
      </button>
      <mat-menu #inventoryMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
